a {
  cursor: default;
  color: #237b9b;
  text-decoration: none;
}
.container {
  max-width: 100%;
  height: auto;
}

.update {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-style: italic;
  color: #a2a8d3;
}
.currently {
  font-size: 30px;
  color: #cadbea;
  font-weight: 100px;
  margin-top: -53px;
  margin-left: 70px;
}
.heading {
  margin: 30px 0 0 0;
  padding: 0;
  font-size: 350%;
  font-weight: 600px;
  color: #3db7c4;
}
.location {
  margin-top: -16px;
  margin-left: 10px;
}
.description {
  margin-left: 370px;
  margin-bottom: 80px;
  margin-top: -130px;
  color: #cadbea;
}

.box {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 20px 412px 5px;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/025/055/original/richard-horvath-cPccYbPrF-A-unsplash.jpg?1642424168);
  background-size: 800px 1200px;
  background-repeat: no-repeat;
  background-color: #a2a8d3;
  overflow: hidden;
}
.cntr {
  position: relative;
  max-width: 100%;
  height: auto;
  justify-content: space-around;
  padding: 15px 65px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);
}

.search-btn {
  justify-content: flex-end;
  color: #ffffff;
  background-color: #3db7c4;
  margin: 0px 4px;
  margin-top: 25px;
  border: none;
  padding: 4px 10px;
  padding-right: 10px;
}
.search-btn:hover {
  background-color: #237b9b;
  opacity: 0.9;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.location-btn {
  justify-content: flex-end;
  color: #ffffff;
  background-color: #3db7c4;
  border: none;
  padding: 4px 10px;
  padding-right: 10px;
}
.location-btn:hover {
  background-color: #237b9b;
  opacity: 0.9;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.city {
  justify-content: flex-start;
  margin: none !important;
  width: 381px;
  height: 30px;
  border-radius: 4px;
  border: none;
}
.units {
  position: relative;
  text-decoration: none;
  left: 85px;
  bottom: 63px;
  font-size: 20px;
  width: 57px;
}

.units .active {
  color: #cadbea;
  text-decoration: none;
  cursor: default;
}
.card {
  justify-content: center;
  margin-top: -42px;
  text-align: center;
  background-color: #ffffff;
  color: #38598b;
  padding: 10px 40px 20px;
  font-size: 15px;
  width: 100%;
  border-radius: 7px;
  opacity: 0.9;
}

.description {
  position: relative;
  margin-left: 285px;
  margin-bottom: 80px;
  margin-top: -148px;
  color: #cadbea;
}
footer {
  display: block;
  text-align: center;
  padding: 0px;
  font-size: 12px;
  color: #cadbea;
  font-style: italic;
}
.git {
  color: #cadbea;
}
.git:hover {
  color: #a2a8d3;
  opacity: 0.9;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-color: transparent#a2a8d3;
}
#temperature {
  margin-top: -23px;
  margin-left: 15px;
  font-size: 45px;
}

@media (max-width: 1300px) {
  .cntr {
    position: relative;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .box {
    position: fixed;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }

  .city {
    padding: 0;
    width: 60%;
    height: 31px;
    text-align: center;
  }

  .search-btn {
    justify-content: flex-end;
    margin: auto;
    padding: 3px 6px;
  }
  .location-btn {
    justify-content: flex-end;
    margin: auto;
    padding: 3px 6px;
  }

  .heading {
    text-align: center;
    margin-top: 15px;
    padding: 0;
    font-size: 300%;
  }
  .update {
    text-align: center;
  }

  #temperature {
    font-size: 34px;
    text-align: center;
    margin-left: -15px;
  }
  .units {
    font-size: 0px;
  }

  .currently {
    font-size: 30px;
    color: #cadbea;
    font-weight: 100px;
    margin-top: -53px;
    margin-left: 50px;
    text-align: center;
  }
  #main-icon {
    margin-left: -90px;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center center;
    position: relative;
    font-size: 10px;
    margin-left: 90px;
    margin-bottom: 50px;
    margin-top: -12px;
    color: #cadbea;
  }
}
